@import "~bootstrap/scss/bootstrap";

body {
  background-color: #fea49f;
}

.hide {
  display: none;
}
.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}